---
import Chat from "../components/Chat/Chat.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Planty">
  <main>
    <h1>Hola!</h1>
    <h2>¿Ves algo raro en tu planta?</h2>
    <Chat client:load />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 24px;

    max-width: 100%;
  }
</style>
