---
import Chat from "../components/Chat/Chat.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Planty">
  <main>
    <h1>Hola!</h1>
    <h2>¿Ves algo raro en tu planta?</h2>
    <Chat />
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    gap: 32px;

    max-width: 100%;
  }
</style>
